.formula {
    background-color: white;
    color: white;
    padding: 10px;
    margin: 0;
}

.formula:hover {
    background-color: #e10600;
}

.main {
    margin-left: 200px;
}

.team {
    background-color: aliceblue;
}

.team__header {
    font-size: 25px;
}

.card__img {
    height: 200px;
}