.copyright {
    font-size: 0.8rem;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-align: center;
    background: none;
    color: white;
    margin: 0;
    padding: 0;
    white-space: normal;
    letter-spacing: 0;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}