.aside__header {
    font-size: 1.1rem;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: left;
    background: none;
    color: #242424;
    margin: 0;
    padding: 0;
    white-space: normal;
    letter-spacing: 1px;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}