.team-menu__a {
    font-size: 1rem;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-align: left;
    background: none;
    color: #242424;
    margin: 0;
    padding: 8px 10px;
    white-space: normal;
    letter-spacing: 0;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    border-left: 1px solid #242424;
}

.team-menu__a:link {

}

.team-menu__a:visited {
    color: #242424;
}

.team-menu__a:focus {

}

.team-menu__a:hover {
    color: #e10600;
}

.team-menu__a:active {
    background: #e10600;
    color: white;
}