:root {
    --team-menu-background: none;
    --team-menu-text-color: #242424;
    --team-menu-border: #cdcdcd;
    --team-menu-text-color-on-hover: #e10600;
}

.team-menu__a {
    font-size: 1rem;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-align: left;
    background: var(--team-menu-background);
    color: var(--team-menu-text-color);
    margin: 0;
    padding: 8px 10px;
    white-space: normal;
    letter-spacing: 0;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    border-left: 2px solid var(--team-menu-border);
}

.team-menu__a:link {

}

.team-menu__a:visited {

}

.team-menu__a:hover {
    color: var(--team-menu-text-color-on-hover);
}

.team-menu__a:active {
    background: #e10600;
    color: #ffffff;
    border-left: 2px solid #e10600;
}